
.title{
    color: black;
    font-weight: bolder;
} 
.image{
    width: 550px;
    height: 450px;/* 
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%); */
    border-radius: 30% 70% 57% 43% / 30% 42% 58% 70% ;
}

@media screen and(max-width: 800px){
  .about{
      flex-direction: column;
      border: 1px solid red;
  }
}